@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply outline-2 outline outline-offset-2 outline-blue-500 
    hover:ring-2 ring-red-500 hover:scale-105 transition-all 
    duration-200 bg-green-900 text-white border-none px-10 
    py-1 rounded-lg active:scale-75;
  }
}

.logo {
  rotate: 1 2 1 360deg;
  transition-duration: 2s;
}

.imge {
  transform: translateX(1100px);
  transition-duration: 3s;
}
.imges {
  transform: translateX(-1100px);
  transition-duration: 3s;
}
.im {
  transform: translateX(0);
  transition-duration: 3s;
}
